/* Declare all variables for later use */
:root {
    --blue:#44536A;
    --east-bay:#4C537D;
    --gray: #C9DCE7;
    --brown: #A36041;
    --outer-space: #33393f;
    --limed-spruce: #384A4F;
    --bright-turquoise: #2aefcb;
    --purple: #A031E9;
    --green: #2D5935;
    --gold: #EBC799;
    --light-purple: #D8CBD8;
    --cumin: #8B4724;
    --white: #F2F2F4;
    --red: #903A0C;
    --dark-blue: #37B6A7;
    --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    --font-family-merriweather: 'Merriweather';
}

/* styling for when text is selected */
::selection {
    background-color: var(--bright-turquoise);
    color: var(--outer-space);
}

/* =========================================================== */
/* set up font for the whole site */
html {
    font-size: 62.5%;
}

body {
    font-family: var(--font-family-merriweather);
    font-size: 1.5rem;
    line-height: 1.5;
    color: var(--red);
    background-color: var(--light-purple);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  line-height: 1.1;
}

header {
    background-image: linear-gradient(180deg, var(--blue), var(--east-bay));
    margin-bottom: 3rem;
}

h1 {
    font-size: 4rem;
    color: var(--white);
    text-align: center;
}

h2 {
    font-size: 3rem;
    margin: 0;
}

h3 {
    font-size: 2.5rem;
}

h4 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

p {
    margin-bottom: 2rem;
    font-size: 1.5rem;
}
/* ====================================== */
/* Personal styling */
input[type='text'] {
    border-radius: 1rem;
    line-height: 3rem;
    font-size: 2rem;
}

button[type='submit'] {
    border-radius: 1rem;
    background-color: var(--green);
    color: var(--white);
}

.history button {
    line-height: 3rem;
    border-radius: 0.5rem;
    width: 100%;
    box-shadow: 1px 2px;
    margin-bottom: 1rem;
}

#dashboard {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    color: var(--outer-space);
}

.city {
    color: var(--green);
    font-size: 2rem;
}

.city:hover {
    cursor:pointer;
}

.present {
    border: 1px solid black;
    padding: 2rem 1rem 0 1rem;
    color: var(--red);
}

.forecast {
    flex: 1 0 18%;
    background-color: var(--dark-blue);
    padding: 1rem;
    border-radius: 1rem;
}

img {
    display: inline-block;
    max-width: 5rem;
    max-height: 5rem;
    margin-bottom: 0.5rem;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    column-gap: 2rem;
    row-gap: 2rem;
}